.Toolbar {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 425px) { 
  .Toolbar div {
    display: flex;
    flex-flow: column wrap;
  }
}



.Toolbar div a {
  margin-right: 15px;
}